# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\LenovoThinkPadT450s\OneDrive - Universität Zürich UZH\Studium\Bachelor Thesis\Repository mining\SourceCodeAnalyzer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
